:root {
    --theme-hue: random(0, 255);
    --cover-button-border: 1px solid black;
    --cover-button-color: black;
    --cover-button-primary-color: rgb(255, 255, 255);
    --cover-button-primary-background: black;
    --cover-heading-color: black;
    --code-inline-color: rgb(133, 52, 135);
    --blockquote-border-color: #0b87da;
    --theme-color: #0b87da;
    /* Panel Left */
    --docsify-example-panels-left-panel-background: transparent;
    --docsify-example-panels-left-panel-width: 60%;

    /* Panel Right */
    --docsify-example-panels-right-panel-background: transparent;
    --docsify-example-panels-right-panel-width: 40%;

}

.cover .cover-main>p:last-child a:hover {
    color: #ffff;
    background: hsla(0, 0%, 37%, 0.387);
}

.cover h1 span {
    font-weight: bold;
}

.cover .cover-main>p:last-child a:first-child:hover {
    color: black;
    background: hsla(0, 0%, 0%, 0.387);
}

/* details 配置 */
summary{
    margin-top:1.5%;
    margin-bottom:1.5%;
}
.details-title {
    background-color: var(--theme-color);
    border-radius: 0.2em;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
        0 3px 1px -2px rgb(0 0 0 / 12%),
        0 1px 5px 0 rgb(0 0 0 / 20%);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1%;
    padding-right: 1%;
}
.details-title:hover{
    color:var(--theme-color);
    background: #f7f7f7;

}
.details-content {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
        0 3px 1px -2px rgb(0 0 0 / 12%),
        0 1px 5px 0 rgb(0 0 0 / 20%);
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1%;
    border-radius: 0.2em;
}

/* 超连接配置 */
.jump_link {
    margin-right: 3px;
    padding-right: 14px;
    color: #ef6132 !important;
    background: transparent;
    background-image: url(../image/iconHighlight.svg);
    background-repeat: no-repeat;
    background-size: 12px 14px;
    background-position: right top;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none !important;
}

/* top 按钮配置 */
.to-top {
    display: none;
    color: #fff;
}