.to-top {
    display: none;
    color: #fff;
}

.jump_link{
    margin-right: 3px;
    padding-right: 14px;
    color: #ef6132 !important;
    background: transparent;
    background-image: url(../image/iconHighlight.svg);
    background-repeat: no-repeat;
    background-size: 12px 14px;
    background-position: right top;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none !important;
}

:root {
    --theme-hue: random(0, 255);
    --cover-button-border: 1px solid black;
    --cover-button-color: black;
    --cover-button-primary-color: rgb(255, 255, 255);
    --cover-button-primary-background: black;
    --cover-heading-color: black;
    --blockquote-border-color:#e671ee;
    --code-inline-color:rgb(201, 114, 57);
}

.cover .cover-main>p:last-child a:hover {
    color: #ffff;
    background: hsla(0, 0%, 37%, 0.387);
}

.cover h1 span {
    font-weight: bold;
}

.cover .cover-main>p:last-child a:first-child:hover {
    color: black;
    background: hsla(0, 0%, 0%, 0.387);
}