.term_user {
    color: rgb(215, 210, 52);
}

.term_path {
    color: rgb(35, 165, 230);
}

.term_command {
    color: rgb(255, 255, 255);
}

.term_annotation {
    color: rgb(47, 137, 42);
}


.lang_term {
    display: block;
    color: white !important;
    padding: 0 !important;
    overflow: auto !important;
    background-color: rgb(83, 15, 60) !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
}

.window_term{
    white-space: nowrap !important;
    background-color: rgb(83, 15, 60) !important;
}

.cycles{
    padding-left: 10px !important;
}

.cycle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.term_cycle1 {
    background-color: #ff3b47;
    border-color: #9d252b;

}

.term_cycle2 {
    background-color: #00d742;
    border-color: #049931;
}

.term_cycle3 {
    background-color: #ffc100;
    border-color: #9d802c;
}

.term_btn {
  transition: all 0.2s ease-in-out;
  color:#a7a7a78d;
}

.term_btn:hover {
  transform: scale(1.2);
  color:#e4e4e4;
}

:root {
    --code-block-padding: 0em 1em 0em 1em;
}